@font-face {
    font-family: a;
    src: url(./sf-pro-display/SFPRODISPLAYBOLD.OTF);
}
*{
    margin : 0%;
    padding : 0%;
    box-sizing:border-box;
    font-family: a;
}
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
#main{
    position: relative;
    overflow: hidden;
}
#page{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #fff;
    object-fit: cover;
}
#page>img{
    height: 100%;
    width: 50%;
    position: absolute;
    object-fit: cover;
    left: 50%;
    transform: translateX(-50%);
}
#page>nav{
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 0px 20px;
    height: 7vh;
    width: 70vw;
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translateX(-50%);
    background-color: #fff;
    color: #000;
}
#page>nav>button{
    padding: 10px 20px;
    border-radius: 50px;
    border: 1.3px solid #000;
    background-color: #fff;
    color: #000;
    position: absolute;
    right: 12%;
    cursor: pointer;
}
#page>nav>button1{
    font-size: 1vw;
    font-weight: 100;
    padding: 10px 20px;
    border-radius: 50px;
    border: none;
    background-color: rgb(64, 64, 234);
    color: #fff;
    cursor: pointer;
    
}
#page-bottom{
    height: 20%;
    width: 25%;
    position: absolute;
    /* background-color: green; */
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#page-bottom>h3{
    color: #000;
    margin-bottom: 1vw;
}
#page1{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #fff;
}
#page1>video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#page1>h1{
    font-size: 3.5vw;
    font-weight: 200;
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    color: #fff;
}
#page2{
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: #fff;
}
#page2>video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#page2>h1{
    font-size: 3vw;
    font-weight: 200;
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    color: #fff;
}
#page3{
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: #fff;
}
#page3>img{
    width: 70%;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#page3>button{
    padding: 20px 40px;
    border-radius: 50px;
    border: 3px solid #000;
    border-radius: 50px;
    background-color: #fff;
    color: #000;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1vw;
    cursor: pointer;

}
#page3-upper{
    height: 30%;
    width: 35%;
    /* background-color: yellowgreen; */
    position: absolute;
    z-index: 9;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
}
#page3-upper>img{
    width: 70%;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
}
#page4{
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: #fff;
}
#page4>video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#page4-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: #fff;
    font-size: 2vw;
}
#page5{
    display: flex;
    height: 60vh;
    width: 100vw;
    position: relative;
    background-color: #fff;
}
.left5{
    position: relative;
    height: 100%;
    width: 50%;
}
.left5>h1{
    position: absolute;
    font-size: 2vw;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
}
.right5{
    position:relative;
    height: 100%;
    width: 50%;
}
.right5>h1{
    position: absolute;
    font-size: 1.8vw;
    top:15%;
    width: 100%;
    color: #0000006c;
}
.right5>button{
    padding: 20px 40px;
    font-size: 1vw;
    background-color: rgba(255, 166, 0, 0.848);
    color: #fff;
    border: 1px solid orange;
    border-radius: 50px;
    position: absolute;
    bottom: 15%;
    left: 1%;
    cursor: pointer;
}
#page6{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 50vh;
    width: 100vw;
    position: relative;
    background-color: #f5f5f7;
}
#page6>h3{
    margin-bottom: 1vw;
    font-size: 2vw;
}
#page6>h1{
    margin-bottom: 1.5vw;
    font-size: 4vw;
}
#page6>p{
    font-size: 1.2vw;
    font-weight: 700;
    width:70%;
    color: #4b4646cf;
}
#page7{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #f5f5f7;
}

#page7>canvas{
    position: relative;
    max-width: 100vw;
    max-height: 100vh;
    z-index: 99;
}
#page8{
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: #f5f5f7 ;
    display: flex;
}
#page8>h1{
    width: 20%;
    font-size: 1.5vw;
    font-weight: 500;
    color: #585858aa;
    position: absolute;
    z-index: 99;
    top: 50%;
    transform: translateY(-50%);
    left: 8%;
}
#page8>h1>span{
    color: #000;
}
#page9{
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: #f5f5f7 ;
}
#page9>h1{
    width: 20%;
    font-size: 1.5vw;
    font-weight: 500;
    color: #585858aa;
    position: absolute;
    z-index: 99;
    top: 50%;
    transform: translateY(-50%);
    right: 8%;
}
#page9>h1>span{
    color: #000;
}
#page10{
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: #f5f5f7;
}
#page10>h1{
    width: 20%;
    font-size: 1.5vw;
    font-weight: 500;
    color: #585858aa;
    position: absolute;
    z-index: 99;
    top: 50%;
    transform: translateY(-50%);
    left: 8%;
}
#page10>h1>span{
    color: #000;
}
#page11{
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: #f5f5f7 ;
}
#page11>h1{
    width: 20%;
    font-size: 1.5vw;
    font-weight: 500;
    color: #585858aa;
    position: absolute;
    z-index: 99;
    top: 50%;
    transform: translateY(-50%);
    right: 8%;
}
#page11>h1>span{
    color: #000;
}
#page12{
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: #f5f5f7 ;
}
#page12>h1{
    width: 20%;
    font-size: 1.5vw;
    font-weight: 500;
    color: #585858aa;
    position: absolute;
    z-index: 99;
    top: 50%;
    transform: translateY(-50%);
    left: 8%;
}
#page12>h1>span{
    color: #000;
}
#page13{
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: #f5f5f7 ;
}
#page13>h1{
    width: 20%;
    font-size: 1.5vw;
    font-weight: 500;
    color: #585858aa;
    position: absolute;
    z-index: 99;
    top: 50%;
    transform: translateY(-50%);
    right: 8%;
}
#page13>h1>span{
    color: #000;
}
#page14{
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: #f5f5f7;
   
}
#page14>img{
    height: 100%;
    width: 50%;
    position: absolute;
    object-fit: cover;
    right: 0%;
    z-index: 99;
}
#page14>h1{
    position: absolute;
    font-size: 3vh;
    width: 30%;
    font-weight: 400;
    top: 40%;
    left: 10%;
    color: #585858aa ;
}
#page14>h3{
    position: absolute;
    font-size: 2vw;
    font-weight: 500;
    top: 24%;
    left: 10%;
}
#page15{
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: #f5f5f7;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.left15{
    height: 90%;
    width: 45%;
    position: relative;
    background-image: url(https://www.apple.com/v/apple-vision-pro/f/images/overview/design/glass_top__k3b8lzqd1l2m_large_2x.jpg);
    background-size: cover;
}
.right15{
    height: 90%;
    width: 45%;
    position: relative;
    background-image: url(https://www.apple.com/v/apple-vision-pro/f/images/overview/design/glass_side__gm4agomrwl2e_large_2x.jpg);
    background-size: cover;
}
#page16{
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
#center-page16{
    height: 90%;
    width: 95%;
    position: relative;
    overflow: hidden;
}
#center-page16>video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#page17{
    height: 120vh;
    width: 100vw;
    position: relative;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#page17>h2{
    position: absolute;
    width: 50%;
    font-size: 1.5vw;
    top: 1%;
    font-weight: 500;
    color: #585858aa ;
    
}
#page17>h2>span{
    color: #000;
}
#page17>img{
    position:absolute;
    width: 60%;
    bottom: 0%;
}
#page17>button{
    padding: 20px 35px;
    font-size: 1vw;
    background-color: rgb(233, 99, 27);
    color: #fff;
    border: 1px solid  rgb(255, 128, 0);
    border-radius: 50px;
    position: absolute;
    bottom: 10%;
    cursor: pointer;
}
#page18{
    height: 70vh;
    width: 100vw;
    position: relative;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#page18>h1{
    position: absolute;
    font-size: 3vw;
    font-weight: 500;
    left: 50%;
    top: 5%;
    transform: translateX(-50%);
    color: #fff;
}
#page18>h2{
    color: #fff;
    position: absolute;
    font-size: 5vw;
    font-weight: 800;
    left: 50%;
    top: 17%;
    transform: translateX(-50%);
}
#page18>p{
    color: #c8bebe80;
    position: absolute;
    font-size: 1.8vw;
    font-weight: 400;
    width: 60%;
    left: 52%;
    top: 53%;
    transform: translateX(-50%);
}
#page18>p>span{
    color: #fff;
}
#page19{
    position: relative;
    height: 100vh;
    width: 100vw;
    top: 0%;
    margin-top: -1px;
}
#page19>canvas{
    position: relative;
    max-width: 100vw;
    max-height: 100vw;
}
#page18, #page19 {
    transform: translateZ(0);
}
#page20{
    height: 32vh;
    width: 100vw;
    position: relative;
    background-color: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 1.5vw;
    margin-top: -1%;
}
#page20>h1{
position: absolute;
top: 1%;
}
#page20>h4{
    width: 100%;
    color: #c8bebe80 ;
    position: absolute;
    bottom: 20%;
}
#page20>h4>span{
    color: #fff;
}
#page21{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #000;
}
#page21>video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}
#center-page21{
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;
   position: absolute;
   right: -55%;
   bottom: 10%;
   height: 100%;
}
#center-page21>h1{
    font-size: 2vw;
    font-weight: 500;
    color: #fff;
    position: absolute;
    top: 37%;
}
#center-page21>p{
    font-size: 1.5vw;
    font-weight: 400;
    color: #c8bebe80;
    width: 18%;
}
#center-page21>p>span{
    color: #fff;
}
#page22{
    position: relative;
    height: 120vh;
    width: 100vw;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}
#page22>img{
    position: absolute;
    top: 10%;
    width: 65%;
    object-fit: cover;
}
#center-page22{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    bottom: 0%;
    height: 50%;
    width: 50%;
}
#center-page22>h1{
    font-size: 2vw;
    font-weight: 800;
    color: #fff;
}
#center-page22>h4{
    font-size: 1.5vw;
    font-weight: 400;
    width: 78%;
    position: absolute;
    bottom: 10%;
    color:#c8bebe80 ;
}
#center-page22>h4>span{
    color: #fff;
}

#page23{
    position: relative;
    height: 120vh;
    width: 100vw;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -1%;
}
#page23>img{
    position: absolute;
    top: 10%;
    width: 65%;
    object-fit: cover;
}
#center-page23{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    bottom: 0%;
    height: 50%;
    width: 50%;
}
#center-page23>h1{
    font-size: 2vw;
    font-weight: 800;
    color: #fff;
}
#center-page23>h4{
    font-size: 1.3vw;
    font-weight: 400;
    width: 78%;
    position: absolute;
    bottom: 10%;
    color:#c8bebe80 ;
}
#center-page23>h4>span{
    color: #fff;
}

#page24{
    position: relative;
    height: 150vh;
    width: 100vw;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -1%;
}
#page24>img{
    position: absolute;
    top: 10%;
    width: 100%;
    object-fit: cover;
}
#center-page24{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    bottom: 0%;
    height: 50%;
    width: 50%;
    /* background-color: blue; */
}
#center-page24>h1{
    font-size: 2vw;
    font-weight: 800;
    color: #fff;
    position: absolute;
    top: 25%;
    

}
#center-page24>h4{
    font-size: 1.3vw;
    font-weight: 400;
    width: 78%;
    position: absolute;
    bottom: 25%;
    color:#c8bebe80 ;
}
#center-page24>h4>span{
    color: #fff;
}
#center-page24>button{
    position: absolute;
    bottom: 10%;
    border-radius: 50px;
    font-size: 1.2vw;
    padding: 20px 40px;
}
#page25{
    height: 15vh;
    width: 100vw;
    position: relative;
    background-color: #000;
    margin-top: -1%;
}
#page26{
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#page26>h1{
    position: absolute;
    font-size: 1.6vw;
    font-weight: 200;
    top: 20%;
}
#page26>h2{
    position: absolute;
    font-size: 5vw;
    font-weight: 300;
    top: 25%;
}
#page26>p{
    position: absolute;
    font-size: 1.5vw;
    font-weight: 300;
    bottom: 35%;
    width: 70%;
    left: 28%;
    color:#9a9696 ;
}
#page26>p>span{
    color: #000;
}
#page26>button{
    padding: 16px 45px;
    font-size: 1.3vw;
    background-color: rgb(237, 95, 19);
    color: #fff;
    border: 1px solid  rgb(255, 128, 0);
    border-radius: 50px;
    position: absolute;
    bottom: 20%;
    cursor: pointer;
}
#page27{
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.center-page27{
    height: 90%;
    width: 90%;
    background-color: #f5f5f7;
}
.inner-center-page27{
    width: 88%;
    display: flex;
    align-items: end;
    justify-content: end;
}
.inner-center-page27>img{
    width: 46%;
}
.inner1-center-page27{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    top: 30%;
    left: 10%;
}
.inner1-center-page27>img{
    position: absolute;
    left: 1%;
    bottom: 100%;

}
.inner1-center-page27>h1{
    font-size: 4vw;
    font-weight: 100;
}
.inner1-center-page27>h4{
    position: absolute;
    font-size: 1.5vw;
    font-weight: 100;
    color: #9a9696 ;
    left: 1%;
    top: 100%;
}

#page28{
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.center-page28{
    height: 90%;
    width: 90%;
    background-color: #f5f5f7;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.center-page28>h1{
    font-size: 3.5vw;
    font-weight: 100;
    position: absolute;
    top: 17%;
    left: 10%;
}
.center-page28>button{
    font-size: 1.5vw;
    font-weight: 100;
    background-color: #f5f5f7;
    color: royalblue;
    border-color: #f5f5f7;
    border: 1px solid #f5f5f7;
    position: absolute;
    left: 10%;
    cursor: pointer;
}
.center-page28>img{
    position: absolute;
    width: 45%;
    right: 10%;
    top: 10%;
}

#page29{
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.center-page29{
    height: 90%;
    width: 90%;
    background-color: #f5f5f7;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}
.inner-img{
    position: absolute;
    top: 15%;
}
.inner-img>img{
    width: 100%;
}
.inner-text{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    position: relative;
    top: 10%;
}
.inner-text>h2{
    font-size: 4vw;
    font-weight: 100;
}
.inner-text>p{
    font-size: 1.5vw;
    width: 70%;
    font-weight: 0;
    color: #9a9696;
}
.inner-text>button{
    font-size: 1.5vw;
    font-weight: 50;
    border: none;
    color: royalblue;
    position: absolute;
    bottom: -20%;
    background-color: #f5f5f7;
    cursor: pointer;
}





